---
layout: default
---
<div class="home">
	<section class="site-header">
		<h1 class="smallcap"><a class="site-title" href="{{ site.baseurl }}">{{ site.title }}</a></h1>
		{% include nav.html %}
		{% include intro.html %}
	</section>
	<section>
		<ul class="post-list">
			{% for post in site.posts %}
			<li>
				<a href="{{ post.url }}">{{ post.title }}</a> <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %d, %Y" }}</time>
			</li>
			{% endfor %}
		</ul>
	</section>
</div>
